# Flask runtime
FLASK_ENV=development

# Security
# Change this value in production
SECRET_KEY=change-me-in-production

# Database
# Local sqlite example:
DATABASE_URL=sqlite:///instance/database.db

# Default accounts (used only when account does not exist yet)
ADMIN_DEFAULT_USERNAME=Abdoulaye Diop
ADMIN_DEFAULT_EMAIL=abdoulaye.diop@dioplaye.sn
ADMIN_DEFAULT_PASSWORD=admin123
INVITE_DEFAULT_USERNAME=invite
INVITE_DEFAULT_EMAIL=invite@dioplaye.sn
INVITE_DEFAULT_PASSWORD=invite123
